@import url("https://fonts.googleapis.com/css?family=Gill Sans");

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body{
margin: 0;
padding:0;
height: 100px;

}

.box{
  height: 300px;
  width=50000px;
  background-color: #F5B461;
  text-align: center;
  margin: 100px 350px;
  border: 5px;
  padding: 5px 5px;
  outline: none;
  border-color = green;
  border-radius: 5px
  border:20px;

text-align:center;
position: absolute;
width: 600px;
padding:40px;
display:inline-block;
border-radius:10px;
  border-color: #F5B461;


}

.box1{
 height: 250px;
  width=50000px;
  text-align: center;
  margin: 70px 10px;
  border: 5px;
  padding: 5px 5px;
  outline: none;
  border-radius: 5px;
  border:20px;
  border-style: double;
text-align:center;

text-align:center;
position: absolute;
width: 1300px;

padding:40px;
border: 5px ;

}

.box11{
	font-size:60px;
	color:#F5B461;
	font-family: Arial Black;
}


/* content */
.content {
  text-align: center;
 border: 5px;
  border-color: #5BE156;
}
.content h1 {
  letter-spacing: 2px;
  background: #F5B461;
  color : white;
}


label {
  padding:10px 5px;
  border-radius:40px;
  margin:10px 0;
font-size: 23px;
  position:relative;
  display:inline-block;
color: white;
}

span {
  color:black;
  padding:20px;
  pointer-events: none;
  position:absolute;
  left:0;
  top:0;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity:1;
}

	nav {
			width: 101%;
			height: 120px;
			font-family: monospace, san-serif;
			font-weight: bold;
			vertical-align: middle;
			position: fixed;
			
		
	}

nav ul {

			list-style-type: none;
			padding: 0;
			vertical-align: middle;

	}
nav li {

			
			vertical-align: middle;
	
	}
	
	nav li a {

			color: white;
			text-decoration: none;
			vertical-align: center;

	}

/* Add a background color and some padding around the form */
.container {
  cursor: pointer;
  border-radius: 5px;
  background-color:#FF4500;
  padding: 20px;
}

.form {
  cursor: pointer;
height:500px;
width:500px;

  border-radius: 5px;
  padding: 20px;
display:inline-block;
}

/* Dropdown Button */
.dropbtn {
  border-radius: 40px;
  background-color:white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display:inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
display:block;
  
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #5BE156;}


.mydiv{
		
		height: 70px;
		background-color:#5BE156;
		position: relative;
	}

.mydiv1{
		color: white;
		
		margin: 10px 10px;
		position: fixed;
		font-family: monospace, san-serif;
	}

.button {
  background: #F5B461;
  height: 120px;
  width: 230px;
  font-size:15px;
   border-radius:10px;
  border-color: #F5B461;
  text-align: center;
  color: white;
display:inline-block;

}
.btn {
  background: #F5B461;
  height: 60px;
  width: 450px;
  padding: 20px 10px;
   border-radius:10px;
  border-color: #F5B461;
  float: center;
  font-size: 20px;
  color: white;
display:inline-block;

}

.btn2 {
  background: #f5b461;
height: 55px;
  width: 250px;
  padding: 10px 0;
  border-radius:10px;
  border-color: #f5b461;
  float: center;
  text-transform: uppercase;
  color: white;
  font-size:15px;
  cursor: pointer;
position:relative;
display:inline-block;
}

input {
  border-radius:10px;
  border-color: #F5B461;

background-color: white;
  padding:10px ;
}

input:focus + span, input:not(:placeholder-shown) + span {
  opacity:1;

  transform: scale(0.75) translateY(-100%) translateX(-30px);
}

/* For IE Browsers*/
input:focus + span, input:not(:-ms-input-placeholder) + span {
  opacity:1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
}
button {

  margin:10px 0;
  position:relative;
  display:inline-block;
}
  
span {
  color:black;
  padding:10px;
  pointer-events: none;
  position:absolute;
  left:0;
  top:0;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity:1;
}

.box .label {
  font-size : 40px; 
  text-align: center;
  margin-bottom: 5px;
  text-transform: capitalize;
  padding : 10px 5px;
  color:white;
  display:inline-block;

}
.box1 .label {
 
  text-align: center;
  margin-bottom: 5px;
  text-transform: capitalize;
  padding : 10px 5px;
  display:inline-block;


}
.box1 .label1 {
  text-align: center; 
  display:inline-block;
  color :darkorange;
  margin-bottom:2px;
font-size:25px;
  text-transform: capitalize;

}

      .footer {
		
			background: #F5B461;
			color: clack;
			top: 1400px;
			height: 300px;
			width: 100%;
			margin-left: -2px;
			position: absolute;
			z-index: -100;
	
			
	}
	
	.col {
			font-family:Calibri;
			letter-spacing:1px;
                        text-align:left;	
			width: 100%;
			height: 100%;
			float: center;
	}


      .footer1 {
		
			background: #5be156;
			color: black;
			top: 1750px;
			height: 400px;
			width: 100%;
			margin-left: -2px;
			position: absolute;
			z-index: -100;
	
			
	}
	
	.col1 {
			font-family:Calibri;
			letter-spacing:1px;
                        text-align:left;	
			width: 100%;
			height: 50%;
			float: center;
	}


	

	

input {
background-color: white;
  padding:10px ;
}
.box1 input {
background-color: white;
  padding:10px ;
width:1200px;
height:300px;
}

input:focus + span, input:not(:placeholder-shown) + span {
  opacity:1;

  transform: scale(0.75) translateY(-100%) translateX(-30px);
}

/* For IE Browsers*/
input:focus + span, input:not(:-ms-input-placeholder) + span {
  opacity:1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
}

.content-inner {margin-top: -44px !important;}
.content-outer {margin-bottom: -44px !important;}


.st {

			margin-top: -5px;
			color: white;
			width: 60px;
			height: 10px;
			
			
	}

